In [2]:
""" Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple """

#Answer:
data = ('pwskill', [12, 24, 'python'], 36.50, ('apple', 'iqoo', 'realme'))

In [30]:
''' Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1. 

What will be the data type of the above given variable. '''


#Answer:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1 

print (type(var1))
print (type(var2))
print (type(var3))
print (type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [29]:
'''Q3. Explain the use of the following operators using an example:

(i) /
(ii) %
(iii) //
(iv) **
 '''

#Answer:
#(i) / -  is an arithmatic operator which is used to divide the values.
a = 12/4
print (a)

#(ii) % - Modulo it returns the reminder of a division 
x = 25
y = 2
print (x%y)

#(iii) // - Floor division it round the result of the division to the nearest whole number
q = 23
d = 7
print (q//d)

#(iv) ** - it is used to raise the left number with the power of the number at the right
power = 8**3
print (power)  # 8*8*8

3.0
1
3
512

In [41]:
""" Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type. """

#Answer:
list = [ 12, 'testdata', 23.6565, True, 23, 45, 'test2', 32.434, False, 'paul']
for i in list:
    print(i)
    print (type(i))

12
<class 'int'>
testdata
<class 'str'>
23.6565
<class 'float'>
True
<class 'bool'>
23
<class 'int'>
45
<class 'int'>
test2
<class 'str'>
32.434
<class 'float'>
False
<class 'bool'>
paul
<class 'str'>

In [1]:
""" Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible. """

#Answer:
n = 14
i = 4

while i < n :
    i = i + 1
    if i % n == 0:
        print (i, "times it is divisible")

14 times it is divisible

In [45]:
""" Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not. """

#Answer:
l = [ 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25 ]
for j in l:
    if j / 3 :
        print ("Element present in list are divisible by 3")
    else:
        print ("ELements in list are not divisible by 3")

Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3
Element present in list are divisible by 3

In [3]:
""" Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property. """

#Answer:
'''Mutable data type is where the value assigned to a variable can be modified after it is created.
Example: List, Set '''

colour = ['red', 'yellow', 'blue', 'white']
print (colour)
colour[1] = 'green'
print (colour)

'''Immutable data type is where the value assigned to a variable can not be changed after it is created. 
Example: String, Boolean, Interger'''

immutable = 'python data science'
print(immutable)
immutable[0] = 'engineer'

['red', 'yellow', 'blue', 'white']
['red', 'green', 'blue', 'white']
python data science

TypeError: 'str' object does not support item assignment