In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

Answer: 
Database is an collection of data that is structured or unstructured.

SQL: 
SQL databases use structured query language (SQL) and have a predefined schema. 
It stores data in tables with row & column.
example: MySQL, Oracle, PostgreSQL

NoSQL: 
NoSQL databases have dynamic schemas for unstructured data. 
It stores data in folder/document.
example: MongoDB, Cassandra, Neo4j

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer:
DDL stands for Data Defination Language which is used to create and modify the schema of the database.
DDL consist of Commands like CREATE, ALTER, TRUNCATE and DROP.
1. CREATE: It is used to create a new table in database
Ex:
CREATE table employee (
Emp_id int,
Name varchar(50),
Address varchar(255),
);

2. DROP:  The DROP TABLE command deletes a table in the database.
ex:
DROP TABLE employee;

3. ALTER: The ALTER TABLE command adds, deletes, or modifies columns in a table.
ex:
ALTER TABLE employee
ADD Email varchar(255);

4. TRUNCATE: The TRUNCATE command deletes the data inside a table, but not the table itself.
ex:
TRUNCATE TABLE Categories;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer:
DML (Data Manuplation Language) it is used to manipulation of data present in the database
    
1. INSERT: The INSERT statement is used to insert new records in a table.
Ex:
INSERT INTO employee
values (12, 'pwskills', 'India', 'test@test.com')

2. UPDATE: The UPDATE statement is used to modify the existing records in a table.
Ex: 
UPDATE employee
SET Name = 'Vedica'
WHERE emp_id = 12;

3. DELETE: The DELETE statement is used to delete existing records in a table.
Ex: 
DELETE FROM employee WHERE Name='Vedica';

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

Answer:
DQL (Data Query Language)

1. SELECT: The SELECT statement is used to retrieve data from a database.
Ex:
SELECT * from employee;

SELECT Name, Emp_id from employee;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

Answer:
Primary Key:
    
The PRIMARY KEY is a uniquely identifies each record in a table.
It contain UNIQUE values, and cannot contain NULL values.
A table can have only ONE primary key; and in the table,
this primary key can consist of single or multiple columns (fields).
    
Foreign Key: 

A foreign key is generally used to build a relationship between the two tables. 
A foreign key can accept NULL values. 
A foreign key column in a table points to a column with unique values in another table 
(often the primary key column)

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Answer:

import mySQL.connector

mydb = mysql.connector.connect(
 host = "localhost",
 user = "abc",
 password = "password"
)
mycursor = mydb.cursor()

cursor(): it enable Python code to execute SQL queries in database session
execute(): It is used to pass SQL command that has to be executed.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

Answer:
Order of execution in SQL query is processed in the following steps:

Getting Data (FROM/JOIN)
Row Filter (WHERE)
Grouping (GROUP BY)
Group Filter (HAVING)
Return Expression (SELECT)
Order & Paging (ORDER BY & LIMIT/OFFSET)